{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="alert alert-dark" role="alert">
        <h2 class="text-dark text-center fw-bold">Reset your password</h2>
      </div>
    </div>
      <div class="row">
          <div class="col-4"></div>
          <div class="col-4">
            {% if validlink %}
            <form method="POST">
              <div class="mb-3">
                <p>Please enter your new password twice:</p>
                {{ form.as_p }}
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Change</button>
                  {% csrf_token %}
                </div>
            </form>
            {% else %}
            <p>The password reset link was invalid, possibly because it has
              already been used. Please request a new password reset.</p>
            {% endif %}
            <br>
          </div>
          <div class="col-4"></div>
      </div>
  </div>
{% endblock %}
