{% extends "base.html" %}

{% block title %}Password reset{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="alert alert-dark" role="alert">
      <h2 class="text-dark text-center fw-bold">Password set</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <p>Your password has been set. You can <a href="{% url 'login' %}">log in now.</a></p>
      <br>
    </div>
    <div class="col-4"></div>
  </div>
</div>
{% endblock %}