{% extends 'base.html' %}
{% load static %}

{% block title %}Categories{% endblock %}

{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="alert alert-secondary">
            <h3 class="text-dark text-center fw-bold">All Categories</h3>
        </div>
    </div>
    <div class="row">
        {% for item in categories %}
        <div class="col-4">
            <div class="list-group">
                <a class="list-group-item list-group-item-secondary list-group-item-action active" aria-current="true">
                {{item.name}}
                </a>
                {% for subitem in item.sub_categories.all %}
                <a href="{% url 'flearn:subcategory_detail' subitem.slug %}" class="list-group-item list-group-item-action text-dark">{{subitem.name}}</a>
                {% endfor %}
            </div>
            <br>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}