{% extends 'base.html' %}
{% load static %}

{% block title %}{{ course }}{% endblock %}

{% block content %}
<br>
<div class="cotainer">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="alert alert-secondary">
                <h3 class="text-dark text-center fw-bold">{{ course }}</h3>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="card text-center">
                <div class="card-header">
                  {{course}}
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <img src="{{ course.image.url }}" width="150" height="150">
                    </div>
                    <br>
                  <p class="card-text">{{ course.description }}</p>
                  <a href="{% url 'payment:process' course.id %}" class="btn btn-primary">Buy Now</a>
                </div>
                <div class="card-footer">
                  $ {{ course.price }}
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>

{% endblock %}